/* Style pour les écrans de bureau */
footer {
  display: flex;
  justify-content: center;
  .copyright {
    font-size: 14px;
    color: #1e3758;
  }
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
