// styles/Skills.scss
@import "../../abstracts/mixin";
@import "../../abstracts/keyframes";
@import "../../abstracts/variables";

.skills-section {
  @include section-styles;

  .skills-section__title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .skills-section__section-title {      
      color: $primary-color;
      font-size: 2.0em;
      margin: 0px;
    }

    .skills-section__filter-reset {
      cursor: pointer;
      color: $primary-color;
      height: 25px;
      width: 25px;
      margin-left: 20px;
    }
  }
  .skills-section__instruction{
      background-color:white; // ou une couleur qui s'intègre à votre palette
      color: black;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 20px; // Pour l'espacement entre le message et les projets
      text-align: center;
      font-weight: bold;
  }

  .skills-section__skill-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;

     .skills-section__skills-group {
       display: flex;
       align-items: center;
       justify-content: center;
      gap: 20px;

      h3 {
        text-align: left;
        margin: 0;
        padding-right: 20px;
        width: 150px;        
      }
      
      .skills-section__filter-icon {
        margin-left: 10px;
        color: $primary-color;
        cursor: pointer;
      }

       .skills-section__skill-set {
         display: flex;
         align-items: center;
         justify-content: space-around;
         gap: 20px;
         width: 100%;
         flex-wrap: wrap;
      }
    }
  }

  .skills-section__certifications-button {
    margin-top: 20px;
    align-self: flex-end; 
  }

}

@media only screen and (min-width: 900px) and (max-width: 1024px) {
  .skills-section .skills-section__title-container .skills-section__section-title{
    font-size: 1.8em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 900px) {
  .skills-section .skills-section__title-container .skills-section__section-title{
    font-size: 1.5em;
  }
  .skills-section .skills-section__skill-container .skills-section__skills-group .skills-section__skill-set{
    gap: 10px;
  }
}
@media only screen and (max-width: 768px) {
   .skills-section {
     margin: 30px auto 10px;
     padding: 0px 0px 10px;
     max-width: 95%;
   }
   .skills-section .skills-section__title-container .skills-section__filter-reset {  
    height: 15px;
    width: 15px;
  }

  .skills-section .skills-section__instruction{
    width: 90%;
  }

  .skills-section .skills-section__skill-container{
    width: 95%;
  }
  .skills-section .skills-section__title-container .skills-section__section-title{
    font-size: 1.2em;
  }
  .skills-section .skills-section__skill-container .skills-section__skills-group h3{
    width: 100%;
    text-align: center;
    font-size: 1em;
  }
  .skills-section .skills-section__skill-container .skills-section__skills-group{
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
   .skills-section .skills-section__skill-container .skills-section__skills-group .skills-section__skill-set{
    gap: 10px;
   }
  .skills-section .skills-section__certifications-button{
    align-self: center;
    margin-top: 10px;
  }
}
