// styles/Skillcard.scss
@import "../../abstracts/mixin";
@import "../../abstracts/keyframes";
@import "../../abstracts/variables";

.skill-card {
  flex: 1 0 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color:  $card-background;
  position: relative;
  overflow: visible;
  cursor: pointer;

  .skill-card__logo {
    max-width: 100%;
    max-height: 100px;
    transition: transform 0.3s ease;
  }
  
  .skill-card__alt-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0; // Ajustez selon vos besoins
    background-color: rgba(0, 0, 0, 0.5); // Fond légèrement foncé
    color: white; // Texte en blanc
    text-align: center;
    font-size: 0.9em; // Ajustez selon vos besoins
    border-bottom-left-radius: 10px; // Assurez-vous que cela correspond au border-radius de votre .skill-card
    border-bottom-right-radius: 10px;
  }

  &.selected {
    animation: pulse 1s infinite;

    .skill-card__logo {
      transform: scale(1.1);
    }

    .skill-card__overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.2);
      z-index: 10;
      border-radius: 10px;
    }
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  &::after {
    content: attr(data-tooltip); /* Ceci s'affiche uniquement si data-tooltip est présent */
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $primary-color;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    white-space: nowrap;
    z-index: 999;
    opacity: 0; /* Initialement invisible */
    visibility: hidden; /* Initialement non visible */
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s ease;
    pointer-events: none;
  }

  &[data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-10px);
  }
}
@media only screen and (min-width: 769px) and (max-width: 900px) {
  .skill-card{
    height: 80px;
  }
  .skill-card .skill-card__logo{
    max-height: 75px;
  }
}
@media only screen and (max-width: 768px) {
  .skill-card{
    height: 55px;
  }
  .skill-card .skill-card__logo{
    max-height: 50px;}
}