body {
    font-family: "Open Sans", Arial, sans-serif;
    background-color: #fff;
    color: #1e3758;
    // background: url('../assets/img/background.png') no-repeat center center fixed; 
    // background-size: cover;
    background: linear-gradient(to right, #445c68, #718a96, #9db3bc);
    margin: 0;
    padding: 0;
    overflow-x: hidden; // Assurez-vous que le contenu ne dépasse pas de l'écran
  }
