  // Déclaration des variables de couleur
  $primary-color: #1e3758;
  $card-background: #fff;
  $spacing-unit: 10px;
  $box-shadow-color: rgba(0, 0, 0, 0.2);
  $accent-color: #555;
  $font-size-default: 1rem;
  $button-color: #ecf3f9;
  $background-gradient-primary: linear-gradient(to right, #445c68, #718a96, #9db3bc);
  $background-gradient-secondary: linear-gradient(to bottom, rgba(173, 216, 230, 0.9), rgba(173, 216, 230, 0.9));