  // Déclaration des variables de couleur
  $primary-color: #1e3758;
  $card-background: white;
  $card-background-secondary:#ededed;
  $background-third:#e0e0e0;
  $disabled-color:#999;
  $disabled-background:#f1f1f1;
  $spacing-unit: 10px;
  $box-shadow-color: rgba(0, 0, 0, 0.2);
  $accent-color: #555;
  $font-size-default: 1rem;
  $button-color: #ecf3f9;
  $link-color: #007bff;
  $info-color: #31708f; 
  $alert-color: #ff6b6b;
  $background-gradient-primary: linear-gradient(to right, #445c68, #718a96, #9db3bc);
  $background-gradient-secondary: linear-gradient(to bottom, rgba(173, 216, 230, 0.9), rgba(173, 216, 230, 0.9));
  $background-gradient-button:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);