.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  .About_Me {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .About {
    .About_Me {
      font-size: 12px;
    }
  }
}
