// styles/chronologie.scss
@import "../abstracts/mixin";
@import "../abstracts/keyframes";
@import "../abstracts/variables";

.certifications-section {
  @include section-styles;

  .section-title {
    color: $primary-color;
    font-size: 2em;
    margin-bottom: 2rem;
    font-weight: 600;
  }
  .certifications-collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Crée deux colonnes de taille égale
    gap: 20px; // Espace entre les colonnes et les lignes
  }
  .certifications-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
    justify-content: space-around;
    width: 100%;
    max-height: 475px; // Définissez une hauteur maximale pour le conteneur
    overflow-y: auto;
  } 

  .certification-card {
    flex: 0 1 calc(45% - 20px); // 5 cartes par ligne par défaut pour desktop
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 5px 16px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    background-color: $card-background-secondary;
    cursor: pointer;
    animation: fadeInUp 0.5s ease-out forwards;
    opacity: 0;
    
    &:hover {
      transform: scale(1.1) rotate(3deg);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      background-color: #e1f5fe;
    }

    .certification-image {
      width: 100%;
      height: auto;
      border-radius: 8px;
      transition: transform 0.3s ease;
      
      &:hover {
        transform: scale(1.05);
      }
    }

    .certification-title {
      margin-top: 12px;
      margin-bottom: 8px;
      font-size: 0.8rem;
    }

    // .certification-link {
    //   color: #007bff;
    //   text-decoration: none;
    //   font-weight: bold;
    //   font-size: 1rem;
    // }
  }

    // Tablettes: 4 cartes par ligne
    @media (max-width: 1180px) {
      .certification-card {
        flex: 0 1 calc(22% - 20px);
      }
    }

  // Tablettes: 3 cartes par ligne
  @media (max-width: 1024px) {
    .section-title {
      font-size: 1.5em;
      margin-bottom: 0.5rem;
    }
    .certification-card {
      flex: 0 1 calc(29.33% - 20px);
    }
    .certification-card .certification-title{
      font-size: 0.9rem;
    }
    .certification-card .certification-link {
      font-size: 0.9rem;
    }
  }

  // Grands mobiles: 2 cartes par ligne
  @media (max-width: 768px) {
    margin: 30px auto 10px;
    padding: 0px 0px 10px;
    max-width: 95%;
    
    .section-title {
      font-size: 1em;
      margin-bottom: 0.5rem;
    }

    .certification-card {
      flex: 0 1 calc(45% - 20px);
    }
    .certification-card .certification-title{
      font-size: 0.8rem;
    }
    .certification-card .certification-link {
      font-size: 0.8rem;
    }
    .certification-card .certifications-container {
      width: 95%;
      max-height: 280px;
    }
  }

  // Petits mobiles: 1 carte par ligne
  @media (max-width: 480px) {
    .certification-card {
      flex: 0 1 100%;
    }
    .certification-card .certification-title{
      font-size: 0.7rem;
    }
    .certification-card .certification-link {
      font-size: 0.7rem;
    }
    .certifications-container {
      width: 95%;
      max-height: 280px;
    }
  }
}