body {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #e0e0e0;
  color: #1e3758;
  margin: 10px auto;
  padding: 0;
  max-width: 1440px;

  .Page {
    border-radius: 10px;
    margin: 0px 20px;

    .Container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px auto 10px;
      background-color: #fff;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
      text-align: center;
      width: 100%;
    }
  }
}
