// styles/About.scss
@import "../abstracts/mixin";
@import "../abstracts/keyframes";
@import "../abstracts/variables";
.legal-mentions-section {
  @include section-styles;
  text-align: center;
  .legal-section {
    width: 95%;
  
    h2 {
      color:  $primary-color; // Assurez-vous que cette couleur s'harmonise avec votre design
      margin-top: 20px;
      margin-bottom: 1rem;
      font-size: 1.5em;
    }

    p {
      color:  $primary-color; // Assurez-vous que cette couleur s'harmonise avec votre design
      font-size: 1em; // Adaptez la taille de la police si nécessaire
      line-height: 1.6;
      margin-bottom: 1rem;
      max-width: 1000px; // Une largeur maximale pour contrôler la longueur de la ligne de texte
      margin-left: auto; // Centrer le paragraphe si la largeur maximale est définie
      margin-right: auto; // Centrer le paragraphe si la largeur maximale est définie
    }
  }
}

@media (max-width: 768px) {
  .legal-mentions-section {
    margin: 30px auto 10px;
    padding: 0px 0px 10px;
    max-width: 95%;
    .legal-section {
      h2 {
        font-size: 1em; // Taille ajustée pour les petits écrans
      }

      p {
        font-size: 0.9em; // Taille de police réduite pour les petits écrans
      }
    }
  }
}
