.project-enterprise-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  h1 {
    text-align: center;
    color: #1e3758;
    margin-bottom: 2rem;
  }

  .project-container {
    max-width: 100%;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #333;
  }

  .project-title {
    font-size: 1.5rem;
    color: #0056b3;
    text-align: center;
    margin-bottom: 1rem;
  }

  .project-theme,
  .project-description {
    background-color: #e0e0e0;
    padding: 10px;
    margin-bottom: 1rem;
    border-left: 15px solid #1e3758;
    border-radius: 10px;
  }

  .project-technologies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .technology-logo {
      height: auto;
      margin: 0 10px;
      max-width: 100px;
      border-radius: 10px;
      width: 100%; /* ajustez la largeur au conteneur */
    }
  }
}
@media (max-width: 768px) {
  .project-enterprise-section {
    h1,
    h2 {
      font-size: 1rem;
    }
    .project-title {
      font-size: 1rem;
      margin: 0;
    }
    p {
      font-size: 0.75rem;
    }
    .chronology {
      font-size: 0.75rem;
    }
    .features,
    .writing-details {
      font-size: 0.75rem;
    }
    .project-technologies {
      flex-wrap: wrap;

      .technology-logo {
        max-width: 40px;
      }
    }
    .bouton-projet {
      width: 60%; // Utiliser plus de largeur pour faciliter la lecture
      margin: 0rem; // Centrer dans la vue
      text-align: center;
    }
  }
}
