$primary-color: #1e3758;
$secondary-color: #0056b3;
$accent-color: #333;
$background-theme: #e0e0e0;
$font-size-title: 1.5rem;
$font-size-subtitle: 1.1rem;
$font-size-default: 1rem;
$spacing-unit: 10px;
$button-color: #ecf3f9;
$hover-color: #555;
$font-color: #555;
$box-shadow-color: rgba(0, 0, 0, 0.2);

.Projet-Formation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $spacing-unit * 2;
  width: 95%;

  h1 {
    text-align: center;
    color: $primary-color;
  }

  .project-container {
    width: 100%;
    border-bottom: 1px solid $accent-color;
    margin-bottom: $spacing-unit * 2;
    padding-bottom: $spacing-unit * 2;
  }

  .project-title,
  .technologies-used {
    text-align: center;
    margin-bottom: $spacing-unit;
    color: $secondary-color;
  }

  .project-title {
    font-size: $font-size-title;
  }

  .technologies-used {
    font-size: $font-size-subtitle;
    color: $primary-color;
  }

  .project-theme,
  .project-brief,
  .project-mission,
  .project-description {
    margin-bottom: $spacing-unit;
    line-height: 1.6;
    padding: $spacing-unit;
    border-radius: $spacing-unit;
  }

  .project-theme {
    font-size: $font-size-subtitle;
    background-color: $background-theme;
    border-left: $spacing-unit * 1.5 solid $primary-color;
    font-weight: bold;
  }

  .project-description {
    background-color: transparent;
    padding-left: $spacing-unit * 2;
    font-size: $font-size-default;
  }

  .project-languages {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: $spacing-unit;

    img {
      height: auto;
      margin: 0 $spacing-unit;
      max-width: 70px;
      border-radius: 10px;
    }
  }
}
.filter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-container button {
  margin: 0 10px;
  padding: 5px 10px;
  background-color: #00bc77; // Utilisez votre couleur primaire
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: darken(#00bc77, 10%);
  }
}
.filter-button {
  @extend .bouton-projet; // Utilisez votre style de bouton existant
  background-color: $button-color;
  &:hover {
    background-color: $hover-color;
    color: $font-color;
  }
}
@media (max-width: 768px) {
  .Projet-Formation {
    h1,
    h2 {
      font-size: 1rem;
    }
    .project-title {
      font-size: 1rem;
      margin: 0;
    }
    p {
      font-size: 0.75rem;
    }
    .chronology {
      font-size: 0.75rem;
    }
    .features,
    .writing-details {
      font-size: 0.75rem;
    }
    .project-languages {
      img {
        max-width: 40px;
      }
    }
    .bouton-projet {
      width: 60%; // Utiliser plus de largeur pour faciliter la lecture
      margin: 0rem; // Centrer dans la vue
      text-align: center;
    }
  }
}
