// styles/technicsskills
@import "../../abstracts/mixin";
@import "../../abstracts/keyframes";
@import "../../abstracts/variables";
.description-section {
  @include section-styles;
        
    .description-section__title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    
        .description-section__section-title {      
            color: $primary-color;
            font-size: 2.0em;
            margin-right: 10px;
        }
    }
    .section-title {
        color: $primary-color;
        font-size: 2em;
        margin-bottom: 2rem;
        font-weight: 600;
      }
          
    .description-section__card {
        display: flex;
        flex-direction: column;
        background:  $card-background;
        border-radius: 10px;
        box-shadow: 0 4px 8px $box-shadow-color;
        padding: 20px;
        transition: all 0.3s ease;
        line-height: 1.6; // Améliore la lisibilité du texte
        width: 95%;

        .description-section__logos-container {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
                
            .description-section__logo-image {
                margin-right: 10px;
                width: auto;
                height: 175px; // Ajustez en fonction de la taille désirée
                
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        ul {
            list-style-type: none; /* Retire les puces par défaut */
            padding: 0; /* Éventuellement, enlève le padding par défaut si nécessaire */
          }
          
          li {
            display: flex; /* Utilise flexbox pour aligner les icônes et le texte */
            align-items: center; /* Centre les éléments verticalement */
            justify-content: center;
            margin-bottom: 0.5em;
        svg{
            height: 25px;
            width: 25px;
        }  
        }
          
          .bullet-icon {
            margin-right: 1em; /* Ajoute un peu d'espace entre l'icône et le texte */
          }
    }  
}
@media only screen and (min-width: 900px) and (max-width: 1024px) {
    .description-section .description-section__title-container .description-section__section-title{
        font-size: 1.8em;
    }
    .description-section .description-section__card {
        h3{
            font-size: 1.1em;}
        p{
            font-size: 0.9em;
        }
    }
    .description-section .description-section__card .description-section__logos-container{
        .description-section__logo-image {
            height: 130px;
        }
    }
}
@media only screen and (min-width: 769px) and (max-width: 900px) {  
    .description-section .description-section__title-container .description-section__section-title{
        font-size: 1.5em;
    }
    .description-section .description-section__card {
        width: 95%;
        h3{
            font-size: 1.0em;}
        p{
            font-size: 0.9em;
        }
    }
    .description-section .description-section__card .description-section__logos-container{
        .description-section__logo-image {
            height: 80px;
        }
    }    
}
@media only screen and (max-width: 768px) {
    .description-section {
        margin: 30px auto 10px;
        padding: 0px 0px 10px;
        max-width: 95%;
      }
    .description-section .description-section__title-container .description-section__section-title{
        font-size: 1.2em;
    }  
    .description-section .description-section__card {
        width: 85%;
        h3{
            font-size: 1.0em;
            margin:0;
        }
        p{
            font-size: 0.9em;
        }
    }
    .description-section .description-section__card .description-section__logos-container{
        margin-top: 0px;
        .description-section__logo-image {
            height: 50px;
        }
    }
}