// styles/fonctionalite.scss
@import "../../abstracts/mixin";
@import "../../abstracts/keyframes";
@import "../../abstracts/variables";
.presentation-section{
  @include section-styles;

  .section-title {
    color: #1e3758;
    font-size: 2em;
    margin-bottom: 2rem;
    font-weight: 600;
  }
  //   overflow-y: auto; // Active le défilement vertical si nécessaire
  //   max-height: 560px;

  // .formation-projects-card {
  //   display: flex;
  //   flex-direction: row;
  //   align-items: normal;
  //   background: $card-background;
  //   border-radius: $spacing-unit;
  //   box-shadow: 0 4px 8px $box-shadow-color;
  //   height: 530px;
  //   width: 100%;
  // }
}