.bouton-projet {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #d6bcd6;
  border-radius: 0.75rem;
  transition-duration: 0.4s;
  margin: 5px;
  box-shadow: 3px 4px 0px 0px #899599;
  text-shadow: 0px 1px 0px #e1e2ed;
  color: #1e3758;
  font-size: 15px;
  font-weight: bold;
  text-align: justify;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  padding: 10px 20px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: #bab1ba;
  }
  &:active {
    position: relative;
    top: 0.063rem;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: #f1f1f1;
    /* Couleur d'arrière-plan désactivée */
    color: #999;
    /* Couleur de texte plus claire */
    filter: blur(1px);
    /* Effet de flou */
  }
}
@media (max-width: 768px) {
  .bouton-projet {
    display: block;
    margin: 10px 0;
  }
}
