@charset "UTF-8";
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
/* Loader styles */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 3s ease forwards;
}
.loader:after {
  content: "";
  height: 7.5rem;
  width: 7.5rem;
  border: 1rem solid #1e3758;
  border-top: 1rem solid transparent;
  border-radius: 50%;
  animation: spin 2s linear infinite, fadeOut 1s ease-in-out 3s forwards; /* Animation de rotation et de disparition */
}

/* Styles pour l'en-tête */
.header {
  width: auto;
  height: 100%; /* Hauteur de l'en-tête en pourcentage de la hauteur de la fenêtre */
  display: flex;
  justify-content: center; /* Centre l'image horizontalement */
  align-items: center; /* Centre l'image verticalement */
  overflow: hidden;
}
.header .header img {
  /* width: 40%; Couvre la largeur de l'en-tête */
  height: auto; /* Couvre la hauteur de l'en-tête */
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    height: auto; /* Hauteur de l'en-tête en pourcentage de la hauteur de la fenêtre */
    display: flex;
    justify-content: center; /* Centre l'image horizontalement */
    align-items: center; /* Centre l'image verticalement */
    overflow: hidden;
  }
  .header .header img {
    width: 100%; /* Couvre la largeur de l'en-tête */
    height: auto; /* Couvre la hauteur de l'en-tête */
  }
}
#banner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.banner {
  flex: 0 0 calc(33.33% - 20px);
  position: relative;
  margin-bottom: 20px;
}

.banner-content {
  position: relative;
}

.banner-img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  object-position: center;
  border-radius: 10px;
  cursor: pointer;
  position: relative; /* Ajout de position: relative */
  border: 5px solid #1e3758;
}

.arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  left: 0;
  right: 0;
}

.arrow_left,
.arrow_right {
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  position: absolute; /* Ajout de position: absolute */
  top: 50%;
  transform: translateY(-50%);
  /* Ajustez les valeurs left et right pour centrer les flèches par rapport à banner-img */
}

.arrow_left {
  left: 10px; /* Ajustez cette valeur pour positionner la flèche gauche */
}

.arrow_right {
  right: 10px; /* Ajustez cette valeur pour positionner la flèche droite */
}

.dots {
  position: relative;
  display: flex;
  justify-content: center;
  background: white;
  padding: 10px 0;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 2px;
  background-color: #e0e0e0;
  border: 5px solid #1e3758;
  border-radius: 50%;
  cursor: pointer;
}

.dot_selected {
  background-color: #1e3758;
  border: 5px solid #e0e0e0;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: white;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  margin: 0;
  border-radius: 10px;
}

span {
  display: block;
  font-weight: 400;
  font-size: 18px;
  color: #f0f0f0;
}

@media (max-width: 768px) {
  .banner {
    flex-basis: calc(100% - 20px);
  }
}
/* Style pour les écrans de bureau */
footer {
  display: flex;
  justify-content: center;
}
footer .copyright {
  font-size: 14px;
  color: #1e3758;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
  footer .copyright div {
    margin-bottom: 10px;
  }
}
body {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #e0e0e0;
  color: #1e3758;
  margin: 0;
  padding: 0;
}

.profile-photo {
  width: 100px; /* Ajustez la taille selon vos préférences */
  height: 100px; /* Ajustez la taille selon vos préférences */
  border-radius: 50%; /* Pour arrondir les coins et créer un effet de cercle */
  margin: 10px; /* Ajustez la marge selon vos préférences */
}

.construction {
  margin: 10px auto 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 1440px;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #1e3758;
}

p {
  color: #606061;
}

.construction-image {
  margin-top: 20px;
}

.logo-langage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .construction {
    max-width: 90%;
    margin: 10px;
    padding-bottom: 30px; /* Augmentez la marge en bas pour augmenter la hauteur */
  }
  .construction-image img {
    width: 100%;
    height: auto;
  }
}
.bouton-projet {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #d6bcd6;
  border-radius: 0.75rem;
  transition-duration: 0.4s;
  margin: 5px;
  box-shadow: 3px 4px 0px 0px #899599;
  text-shadow: 0px 1px 0px #e1e2ed;
  color: #1e3758;
  font-size: 15px;
  font-weight: bold;
  text-align: justify;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  padding: 10px 20px;
}
.bouton-projet:last-child {
  margin-right: 0;
}
.bouton-projet:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}
.bouton-projet:active {
  position: relative;
  top: 0.063rem;
}
.bouton-projet:disabled {
  cursor: not-allowed;
  background-color: #f1f1f1;
  /* Couleur d'arrière-plan désactivée */
  color: #999;
  /* Couleur de texte plus claire */
  filter: blur(1px);
  /* Effet de flou */
}

@media (max-width: 768px) {
  .bouton-projet {
    display: block;
    margin: 10px 0;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* display: flex;
              flex-direction: row;
              justify-content: center; */
  background-color: #1e3758;
  color: #fff;
  /* padding: 15px 0; */
}
.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}

@media (max-width: 768px) {
  .navbar {
    text-align: center;
    position: absolute;
    bottom: -95px;
    width: 100%;
  }
  .navbar a {
    margin: 10px 0;
  }
}
.social-icons {
  margin-top: 20px;
}
.social-icons a {
  text-decoration: none;
  color: #1e3758;
  font-size: 48px;
  margin: 0 10px;
  transition: transform 0.2s;
}
.social-icons a:hover {
  transform: scale(1.2);
}

.contact-info {
  margin-top: 20px;
}
.contact-info p {
  color: #1e3758;
}

/* Styles CSS */
/* $background-principal: #1e3758; */
/* $background-secondaire: #e0e0e0; */
/* #606061 */

/*# sourceMappingURL=main.css.map */
