.profile-photo {
  width: 100px; /* Ajustez la taille selon vos préférences */
  height: 100px; /* Ajustez la taille selon vos préférences */
  border-radius: 50%; /* Pour arrondir les coins et créer un effet de cercle */
  margin: 10px; /* Ajustez la marge selon vos préférences */
}
.construction {
  margin: 0px auto 10px;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  margin: 0;
  //  color: #1e3758;
}

// p {
//   color: #606061;
// }

.construction-image {
  margin-top: 20px;
}

.logo-langage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .construction {
    max-width: 95%;
    margin: 0px 0px 10px 10px;
    padding-bottom: 30px; /* Augmentez la marge en bas pour augmenter la hauteur */
    font-size: small;
  }

  .construction-image img {
    width: 100%;
    height: auto;
  }
}
