RewriteEngine On
RewriteBase /monbudgetpersodemo/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /monbudgetpersodemo/index.html [L]