$bg-color: #333;
$button-color: #ecf3f9;
$hover-color: #007bff;
$font-color: #555;
$border-radius: 15px;
$box-shadow-color: rgba(0, 0, 0, 0.2);
// Animation pour le menu burger
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.navbar {
  display: flex;
  justify-content: space-around; // Ajusté pour aligner les éléments aux extrémités
  align-items: center; // Cela va centrer verticalement les enfants
  background-color: $bg-color;
  padding: 0.5rem;
  position: relative;

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

    li {
      margin: 0 10px;
    }
  }
}

.nav-icon {
  margin-right: 8px;
}

// .bouton-projet {
//   padding: 0.5rem 1rem;
//   border-radius: $border-radius;
//   background-color: $button-color;
//   color: $font-color;
//   text-decoration: none;
//   box-shadow: 0 2px $box-shadow-color;
//   transition: all 0.3s ease;
//   display: flex;
//   align-items: center;

//   &:hover,
//   &.nav-active {
//     background-color: darken($button-color, 5%);
//     color: $hover-color;
//     box-shadow: 0 4px $box-shadow-color;
//   }
// }
.burger-menu {
  position: absolute; // Position absolue par rapport à .navbar
  top: 0; // Ajustez en fonction de la hauteur de votre barre de navigation
  left: 0; // Ou à droite, selon votre préférence
  z-index: 100; // Assurez-vous qu'il est au-dessus des autres éléments
  display: none;
  background: none;
  border: none;
  color: #e0e0e0; // Couleur de l'icône du menu burger
  font-size: 2rem;
  cursor: pointer;
}

// Variables et styles de base...

@media (max-width: 768px) {
  .burger-menu {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    z-index: 10; // S'assurer qu'il est au-dessus des autres éléments
  }

  .navbar {
    flex-direction: column; // Empilement vertical
    align-items: flex-start; // Alignement à gauche
    height: 30px;

    ul.nav-links {
      display: none; // Cacher par défaut en mode mobile
      position: fixed;
      top: -15px;
      left: 0;
      width: 100%;
      height: 102%;
      background-color: rgba($bg-color, 0.95); // Légère transparence
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // padding-top: 3rem; // Espace pour le burger menu
      z-index: 9; // En dessous du burger menu pour pouvoir cliquer dessus
      overflow-y: auto; // Pour les listes déroulantes longues

      li {
        margin: 1rem 0; // Augmenter l'espacement vertical
      }
    }

    .nav-links.mobile {
      display: flex; // Afficher la liste quand le menu burger est activé
      animation: slideIn 0.3s ease-out forwards;
    }
  }

  .bouton-projet {
    width: 90%; // Utiliser plus de largeur pour faciliter la lecture
    margin: 0.5rem auto; // Centrer dans la vue
  }
}

// Ajoutez un fond sombre pour le contenu principal lors de l'ouverture du menu
.content-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8; // Derrière le menu, mais devant le contenu de la page
}

// Afficher l'overlay lors de l'ouverture du menu
.nav-links.mobile + .content-overlay {
  display: block;
}
