// styles/ProjectModal.scss
@use "sass:math";
@import "../abstracts/mixin";
@import "../abstracts/keyframes";
@import "../abstracts/variables";
$spacing-unit: 10px;
$button-color: #ecf3f9;

.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:$background-third;
  width: 90%;
  padding: 20px;
  box-shadow: 0px 0px 10px $box-shadow-color;
  border-radius: 5px;
  z-index: 9999;
  max-height: 1000px;

  .modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
      h2 {
        margin: 0;
      }

    .close-button {
      position: absolute;
      top: 0px;
      right: 0px;
      border: none;
      background: #444444;
      color: white;
      cursor: pointer;
      font-weight: bold;
      font-size: 30px;
      border-radius: 0.313rem;
      
      &:hover {
        background-color:  $primary-color;
      }
    }
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    
    .modal-body {
      display: grid;
      grid-template-columns: 1fr 2fr; /* 1 fraction pour l'image, 3 fractions pour les détails */
      gap: 20px; /* Espace entre l'image et les détails */
      align-items: stretch; /* Alignement vertical au début pour éviter l'étirement */
      max-height: 600px; 
          
      .modal-image-container {
        width: 100%; /* Utilisez toute la largeur disponible de la colonne */
        overflow: hidden; /* Empêche le débordement de l'image */
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%; /* L'image remplit le conteneur */
          height: auto; /* Hauteur automatique pour conserver l'aspect ratio */
          border-radius: 10px; /* Rayon de bordure pour l'image */
          object-fit: fill; /* Ajuste et couvre la zone sans perdre l'aspect ratio */
          max-height: 600px;
        }
      }
    
      .modal-project-details {
        display: flex;
        flex-direction: column; /* Organise le contenu en colonne */
        justify-content: space-around; /* Alignement du contenu au début */
        overflow: auto; /* Ajoute un défilement si le contenu dépasse */
        background: white;
        border-radius: 10px;
        padding: 0px 20px;
        overflow-y: auto; // Active le défilement vertical si nécessaire
        max-height: 600px;
        .modal-project-details-title{
          margin: 5px 0px;
          font-size: 1em;
        }
        p{
          margin: 2px 0px;
          font-size: 0.9em;
        }
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0; 
        }
        
        li {
          display: flex; /* Utilise flex pour aligner l'icône et le texte */
          align-items: center; /* Centre les éléments verticalement */
          font-size: 0.9em;
        }
        
        li svg {
          padding: 2px;
          margin: 5px;
          width: 1rem;
          height: 1rem;
          color:  $primary-color;
          border: 2px solid  $primary-color;
          border-radius: 50%;
        }
      }

      .modal-project-languages {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: $spacing-unit;
        margin-top: $spacing-unit;
      
        .modal-language-logo {
          position: relative; // Ajout pour le positionnement absolu des enfants
          display: inline-block;
          width: 50px; // Taille des icônes
          height: 50px;
          padding: math.div($spacing-unit, 4); // Ajuster la taille du padding si nécessaire
          margin-bottom: $spacing-unit;
          background-color: $button-color; // Couleur de fond des icônes
          border-radius: 25%; // Rend les icônes circulaires
          box-shadow: 0 4px 8px $box-shadow-color;
          transition: all 0.3s ease;
      
          &:hover {
            background-color: darken($button-color, 10%);
            box-shadow: 0 6px 12px darken($box-shadow-color, 10%);
            transform: translateY(-3px);
          }
      
          img {
            width: 100%;
            height: auto;
            transition: transform 0.3s ease;
          }
      
          .modal-language-name {
            position: absolute; // Permet au texte de s'afficher par-dessus l'icône
            top: 50%; // Centre verticalement
            left: 50%; // Centre horizontalement
            transform: translate(-50%, -50%); // Ajuste le centrage
            display: none; // Cache le nom du langage par défaut
            transition: 0.3s ease;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff; // Choisissez une couleur de texte qui contraste bien avec votre couleur de fond d'icône
          }
      
          &:hover .modal-language-name {
            display: block; // Affiche le nom au survol
          }
        }
      }
    }
  

    .modal-footer {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
  }
}
