.Social {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px auto; /* Identique à About */
  padding: 20px; /* Identique à About */
  border-radius: 10px; /* Identique à About */
  background: linear-gradient(to bottom, rgba(173, 216, 230, 0.9), rgba(173, 216, 230, 0.9));
  // background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  backdrop-filter: blur(10px); /* Identique à About */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Identique à About */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Identique à About */
  max-width: 80%; /* Identique à About */

  h2 {
    color: #1e3758; /* Identique à .section-title dans About */
    font-size: 2.0em; /* Identique à .section-title dans About */
    margin-bottom: 1.5rem; /* Identique à .section-title dans About */
  }

  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px; /* Espace entre les icônes, similaire à l'espace entre l'image et le texte dans About */
    width: 100%;

    a {
      text-decoration: none;
      color: #1e3758; /* Identique à About */
      font-size: 48px; /* Taille d'icône significative */
      margin: 0 10px; /* Espacement autour des icônes */
      transition: transform 0.2s; /* Animation au survol */

      &:hover {
        transform: scale(1.2); /* Effet au survol */
      }
    }
  }
}

@media (max-width: 768px) {
  .Social {
    padding: 20px; /* Identique à About */
    font-size: 0.75rem; /* Petite taille de police pour les petits écrans, à ajuster selon besoins */

    .social-icons {
      flex-direction: column; /* Les icônes s'empilent sur les petits écrans */
      gap: 20px; /* Réduire l'espace entre les icônes sur mobile */

      a {
        font-size: 32px; /* Taille réduite pour les icônes sur mobile */
      }
    }
  }
}
