// styles/About.scss
@import "../abstracts/mixin";
@import "../abstracts/keyframes";
@import "../abstracts/variables";
.footer-social-links {

  .footer-social__title {
    color: $primary-color;
    font-size: 2.0em;
    width: 100%;
    margin:0 0 1.5rem;
  }

  .footer-social__icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    margin:0 0 0.5rem;

    .footer-social__icon {
      text-decoration: none;
      color: $primary-color;
      font-size: 48px;
      margin: 0 10px;
      transition: transform 0.2s;
      cursor: pointer;
      border: none;
      background: none;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1024px) {
  .footer-social-links .footer-social__title {
    font-size: 1.8em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 900px) {  
  .footer-social-links .footer-social__title{
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 768px) {
  .footer-social-links .footer-social__title{
    font-size: 1.2em;
    margin-bottom: 0.5rem;
  }
  .footer-social-links .footer-social__icons-container .footer-social__icon{
    font-size: 30px;}
}