.Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  text-align: center;
  padding: 0px 20px;

  #banner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; // Centre les bannières horizontalement dans le conteneur
    align-items: center; // Centre les bannières verticalement dans le conteneur
  }

  .carroussel {
    width: 90%; // Fait en sorte que toutes les bannières prennent toute la largeur
    margin-bottom: 20px; // Ajoute un espace entre les bannières

    &:not(:first-child) {
      // Cible toutes les bannières sauf la première
      flex: 1 1 50%; // Permet aux bannières de remplir la moitié de l'espace disponible
      max-width: calc(50% - 10px); // Prend en compte la marge entre les bannières

      &:nth-child(odd) {
        // Cible chaque deuxième bannière commençant par la troisième
        margin-right: 20px; // Ajoute un espace à droite pour séparer les bannières de la même ligne
      }
    }
  }
  .banner-content {
    position: relative;
    width: 90%; // Assurez-vous que le contenu s'ajuste à la largeur de la bannière

    .banner-img {
      width: 100%; // L'image s'ajuste à la largeur de la bannière
      max-height: 400px;
      object-fit: contain;
      border-radius: 10px;
      cursor: pointer;
      position: relative; /* Ajout de position: relative */
      border: 5px solid #1e3758;
    }

    /* CSS pour cacher l'élément de texte par défaut */
    .banner-text {
      display: none;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
    }

    /* CSS pour afficher le texte au survol de la bannière */
    .banner-link:hover .banner-text {
      display: block;
    }
  }
  .slide-transition {
    transition: transform 0.5s;
  }
  .arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    left: 0;
    right: 0;
  }
  .arrow_left,
  .arrow_right {
    height: 40px;
    font-size: 40px;
    color: #606061;
    cursor: pointer;
    position: absolute; /* Ajout de position: absolute */
    top: 40%;
    transform: translateY(-50%);
    /* Ajustez les valeurs left et right pour centrer les flèches par rapport à banner-img */
  }

  .arrow_left {
    left: 0px; /* Ajustez cette valeur pour positionner la flèche gauche */
  }

  .arrow_right {
    right: 0px; /* Ajustez cette valeur pour positionner la flèche droite */
  }

  // img {
  //   height: 40px;
  //   cursor: pointer;
  // }

  .dots {
    position: relative;
    display: flex;
    justify-content: center;
    background: white;
    padding: 10px 0;
  }

  .dot {
    width: 10px;
    height: 10px;
    margin: 0 2px;
    background-color: #e0e0e0;
    border: 5px solid #1e3758;
    border-radius: 50%;
    cursor: pointer;
  }

  .dot_selected {
    background-color: #1e3758;
    border: 5px solid #e0e0e0;
  }

  .description {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: white;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 1;
    background: #606061;
    margin: 0;
    border-radius: 10px;
    width: 100%;
  }

  span {
    display: block;
    font-weight: 400;
    font-size: 18px;
    color: #f0f0f0;
  }
}

@media (max-width: 1205px) {
  // .banner {
  //   flex-basis: calc(100% - 20px);
  // }
  // .banner-img {
  //   width: 80%;
  // }
}
@media (max-width: 768px) {
  .Banner {
    .carroussel {
      width: 100%;
    }
    #banner-container {
      flex-direction: column;
    }
    .arrow_left,
    .arrow_right {
      top: 25%;
      font-size: 40px;
    }
    .description {
      font-size: 18px;
    }
    .banner-content {
      width: 100%;
    }
    span {
      font-size: 14px;
    }
    .carroussel {
      width: 90%; // Fait en sorte que toutes les bannières prennent toute la largeur
      margin-bottom: 20px; // Ajoute un espace entre les bannières

      &:not(:first-child) {
        flex: auto; // Exemple de réinitialisation
        max-width: none;
        margin-right: 0;

        &:nth-child(odd) {
          margin-right: 0;
        }
      }
    }
  }
}
