footer {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #1e3758;
  .legal-link {
    color: #1e3758;
    // text-decoration: none;
  }
}

// @media (max-width: 768px) {
//   footer {
//     flex-direction: column;
//     text-align: center;
//   }
// }
