// styles/footer.scss
@import "../abstracts/mixin";
@import "../abstracts/keyframes";
@import "../abstracts/variables";
footer {
  @include section-styles;
  p{
    font-size: 1em;
    width: 100%;
    margin: 0;
  }  
  .legal-link {
    color: $primary-color;
    text-decoration: none;
    margin-left: 10px; // Ajoutez un espace si nécessaire
    &:hover {
      text-decoration: underline; // Effet au survol pour indiquer un lien cliquable
    }
  }
}
  
  // @media (max-width: 768px) {
  //   footer {
  //     flex-direction: column;
  //     text-align: center;
  //     padding: 20px; // Padding ajusté pour les appareils mobiles
  //     .legal-link {
  //       margin-top: 10px; // Espace au-dessus du lien pour la lisibilité
  //     }
  //   }
  // }
  
  @media only screen and (max-width: 768px) {
    footer {
      margin: 30px auto 10px;
      padding: 0px 0px 10px;
      max-width: 95%;
      p{
        display:flex;
        flex-direction: column;
        text-align: center;
        font-size: 0.8em;
      }
    }
  }