/* Styles pour l'en-tête */
.header {
  display: flex;
  // border-top-left-radius: 10px;
  // border-top-right-radius: 10px;

  .logo {
    width: 100%;
    height: auto; // autoMaintient le ratio de l'image
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px; // Bord arrondi
  }
}
// @media (max-width: 768px) {
//   .header {
//     max-width: 95%;
//     margin: 10px 10px 0px 10px;
//   }

//   .logo {
//     width: 100%;
//     height: auto;
//   }
// }
