/* Loader styles */
.loader__container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9999;
    opacity: 1;
    animation: fadeInOut 3s linear forwards;
  }
  
  /* Style du loader */
  .loader {
    border: 1rem solid  $primary-color;
    border-top: 1rem solid transparent;
    border-radius: 50%;
    height: 7.5rem;
    width: 7.5rem;
    animation: spin 2s linear infinite, fadeOut 1s ease-in-out 3s forwards; /* Animation de rotation et de disparition */
  }
  